03/files/info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="programList" type="TodaysProgram"/>
    <xs:complexType name="TodaysProgram">
        <xs:sequence>
            <xs:element type="TVProgram" name="programList" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Programs">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Adds"/>
            <xs:enumeration value="Cartoons"/>
            <xs:enumeration value="Films"/>
            <xs:enumeration value="News"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TVProgram">
        <xs:sequence>
            <xs:element name="Name"     type="xs:string"/>
            <xs:element name="LengthIMinutes"  type="xs:integer"/>
            <xs:any minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
