03/files/info.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="programList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TVProgram" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:byte" name="LengthIMinutes"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="ProgramType" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>